.button {
    margin: 5px;
}

.note {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer ;
    border-width: 2px;
    border-color: #c8cbcf;
    border-style: solid;
    text-align: center;
}

.fixed {
    position: fixed;
    background: green;
    top: 0;
}

.deleteButton {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.textButton {
    right: 35px;
    width: 45px;
}

.noteTextDiv {
    overflow: auto;
    height: 130px;
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-width: 1px;
    border-color: #c8cbcf;
    border-style: solid;
}

.noteTextArea {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
    overflow-y: auto;
    /*overflow-y: hidden;*/
    overflow-x: hidden;
    width: 139px;
    height: 100%;
    background-color: #fefcea;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    border: 0;
    padding-right: 0;
    padding-left: 0;
}

.noteTextParagraph {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
    overflow-x: auto;
    /*overflow-x: hidden;*/
    overflow-y: hidden;
    white-space: pre-wrap;
    margin-top: 0;
    margin-bottom: 0;
    width: 155px;
    /*height: 120px;*/
}